body{
    /* background: rgb(255, 242, 242); */
    background-image: url(https://data.whicdn.com/images/330963648/original.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 50px;
    text-align: center;
    width: 100vw;
    height: 100%;
    margin: 0%;
}

#navigation{
    background: rgb(155, 255, 208);
}

#navigation a{
    text-decoration: none;
}

.purple_heading{
    color:rgb(193, 161, 245);
}

#test{
    color: rgb(253, 143, 143);
}

#pom{
    width: 50vw;
}

#heading{
    font-size: 3em;
}

